/* src/pages/Routines.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.card {
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.input:focus {
  border-color: #0070f3;
  outline: none;
}

.inputGroup {
  margin-bottom: 1rem;
  flex: 1; /* Aseguramos que los inputs ocupen el espacio disponible */
}

.inputLabel {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.setRow {
  display: flex;
  justify-content: space-between;
  gap: 0.1rem; /* Reducimos el espacio entre los inputs al mínimo */
  margin-bottom: 0.5rem; /* Ajustamos el margen inferior */
}

.secondaryButton {
  background: #f0f0f0;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
}

.secondaryButton:hover {
  background: #e0e0e0;
}

.primaryButton {
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 0.5rem; /* Añadimos margen derecho para separar los botones */
}

.primaryButton:hover {
  background: #005bb5;
}

.inputWeight,
.inputLabelWeight {
  display: none; /* Oculta el campo y el label de peso */
}

.addExerciseButton {
  display: block; /* Aseguramos que el botón sea un bloque */
  margin: 2rem auto; /* Centramos el botón horizontalmente */
  text-align: center; /* Alineamos el texto dentro del botón */
}

.deleteButton {
  background: #ff4d4d; /* Rojo para el botón de eliminar */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 4px;
  padding: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
}

.deleteButton:hover {
  background: #cc0000; /* Rojo más oscuro al pasar el cursor */
}

.buttonGroup {
  display: flex; /* Coloca los botones en fila */
  gap: 1rem; /* Espaciado entre los botones */
  margin-top: 1rem; /* Espaciado superior */
}

/* Estilos responsive */
@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .card {
    flex-direction: column;
  }

  .input {
    width: 100%;
  }

  .formContainer {
    padding: 1rem; /* Reducimos el padding para móviles */
    display: flex;
    flex-direction: column; /* Aseguramos que los elementos estén en columna */
    gap: 1rem; /* Espaciado uniforme entre los elementos */
  }

  .inputGroup {
    width: 100%; /* Aseguramos que los inputs ocupen todo el ancho */
  }

  .input {
    font-size: 0.9rem; /* Ajustamos el tamaño de fuente para móviles */
    padding: 0.5rem; /* Reducimos el padding interno */
    width: 100%; /* Aseguramos que los inputs ocupen todo el ancho */
    box-sizing: border-box; /* Incluimos el padding en el ancho total */
  }

  .buttonGroup {
    display: flex; /* Coloca los botones en fila */
    flex-wrap: nowrap; /* Asegura que los botones estén en una sola fila */
    justify-content: space-between; /* Distribuye los botones horizontalmente */
    gap: 0.5rem; /* Espaciado entre los botones */
    width: 100%; /* Asegura que los botones ocupen todo el ancho */
  }

  .secondaryButton {
    flex: 1; /* Hace que cada botón ocupe el mismo espacio */
    text-align: center; /* Centra el texto dentro del botón */
  }

  .button {
    font-size: 0.9rem; /* Ajustamos el tamaño de fuente para móviles */
    padding: 0.75rem; /* Ajustamos el padding interno */
    width: 100%; /* Aseguramos que los botones ocupen todo el ancho */
  }

  .deleteButton {
    margin-top: 1rem; /* Añadimos un margen superior para separarlo de los otros botones */
  }
}

@media (min-width: 769px) {
  .buttonGroup {
    display: flex; /* Coloca los botones en fila */
    flex-wrap: nowrap; /* Asegura que los botones estén en una sola fila */
    justify-content: flex-start; /* Alinea los botones uno después del otro */
    gap: 1rem; /* Espaciado entre los botones */
    width: 100%; /* Asegura que los botones ocupen todo el ancho */
  }

  .secondaryButton,
  .deleteButton {
    flex: 1; /* Hace que cada botón ocupe el mismo espacio */
    text-align: center; /* Centra el texto dentro del botón */
    margin-top: 1%;
  }
}